/* banner */
body {
  overflow-x: hidden;
}
.slideimag {
  width: 100%;
}
.slideimag img {
  width: 100%;
}
/* <!--(3) sub-banner video category --> */
.onetxt h5 {
  font-weight: 800;
  color: rgb(145, 13, 127);
}
.gropimag {
  width: 100%;
}
.gropimag img {
  width: 100%;
  border-radius: 10px;
}
.makeup h5 {
  font-weight: 700;
}
/* <!--(4)--------------------------------------------------- sub-banner colum 2flex --> */
.banerbackimag {
  background-image: url("../images/back-1 1.png");
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-position: right;
  background-size: cover;
  position: relative;
}
.rightnow {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 334px;
  padding: 16px;
}

.rightnow h5 {
  font-weight: 700;
  color: rgb(145, 13, 127);
}
.rightnow p {
  font-size: 20px;
  margin-top: 17px;
}
.banerbackimag2 {
  background-image: url("../images/Group\ 88\(1\).png");
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-position: right;
  background-size: cover;
  position: relative;
}
.rightnow2 {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 334px;
  padding: 16px;
}

.rightnow2 h5 {
  font-weight: 700;
  color: #ff69b4;
}
.rightnow2 p {
  font-weight: 700;
  color: white;
}
/* <!------------------------------------ secoond slick slider  --> */
.vdocors {
  overflow: hidden;
}
.couse h5 {
  font-weight: 800;
  color: rgb(145, 13, 127);
}

.vdo-btn-line {
  display: flex;
  gap: 20px;
  align-items: center;
}
.show-button {
  background-color: rgb(145, 13, 127);
  border: none;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.line {
  height: 2px;
  width: 70%;
  background-color: #ff69b4;
}
/* slick slider  */
.box-text {
  border: 2px solid #ff69b4;
  width: 15%;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 5px;
}
.imagg-one {
  width: 100%;
}
.imagg-one img {
  width: 100%;
}
.natrl-lok h5 {
  color: #ff69b4;
  padding: 5px;
}
.nat-look-pera p {
  padding: 5px;
}
.text-icon {
  padding: 5px;
}
.icon-bordr {
  border: 2px solid pink;
  color: rgb(145, 13, 127);
  border-radius: 5px;
  margin-left: 2px;
  padding: 3px;
}
.fre-btn {
  height: 100%;
  text-align: center;
  background-color:#FFC0CB;
  cursor: pointer;
}

.fre-btn h6 {
  vertical-align: middle;
  display: inline-block;
  padding: 4px;
}
.btn-watch {
  width: 100%;
  background-color: #F0F0FF;
  
}
.btn-watch2 {
  width: 100%;
  background-color:rgb(145, 13, 127);
  color: white;
}

.slick-next {
  position: absolute;
  right: 30px;
  top: -13px;
  z-index: 100;
  background-color: rgb(145, 13, 127);
  color: rgb(145, 13, 127);
}
.slick-prev {
  position: absolute;
  left: auto;
  right: 70px;
  top: -13px;
  z-index: 100;
  background-color: rgb(145, 13, 127);
  color: rgb(145, 13, 127);
}
/*----------------------------------------------------------------video --------- */
.vdo-txt h5 {
  font-weight: 700;
  color: #ff69b4;
}
.glass-text{
  margin-top: 110px;
}
.vdo-txt h5 {
  text-align: center;
}
/* background image   */
.threecircle {
  position: relative;
}

.threecircle  .circle {
  background-image: url("../images/Ellipse\ 4.png");
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
 left:200px;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 10;
}
.threecircle .circle2 {
  background-image: url("../images/elips1.png");
  height: 500px;
  background-repeat: no-repeat;
  position: absolute;
  top: 70%;
  left:200px;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 10;
}
.threecircle .circle3 {
  width: 15%;
  background-image: url("../images/Ellipse\ 5.png");
  height: 350px;
  background-repeat: no-repeat;
  position: absolute;
  top: 36%;
  right: -88px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.everthing{
  position: inherit;
  z-index: 20;
}
.glas-eys{
  width: 400px;
 
}
.glas-eys img{
  width: 100%;
}
.helmemt-text{
padding: 40px;
}
.helmemt-text h5{
  color:rgb(145, 13, 127);
  font-weight: 600;
  text-align: center;
}
.helmemt-text p{
  text-align: center;
}
/*--------------------- next-colmd6  */
.colmain{
  border: 2px solid #ff69b4 ;
  border-radius: 5px;
  padding: 10px;
  margin-top: 34px;
}

.video-box{
  border-bottom: 2px solid #ff69b4;
 
  align-items: center;
}
.vdo-imag{
  width: 30%;
}
.vdo-imag img{
  width: 100%;
}
.apply{
  width: 66%;
  padding: 20px;
}

.apply h5{
  color:rgb(145, 13, 127);
  font-weight: 600;
}
.apply p{
  margin-top: 10px;
}



/* <!-------------------------------------- slikslider 3 --> */

.single-item3 {
  padding: 30px;
}
.hand-nails{
  width: 100%;
  padding: 10px;
}
.hand-nails img{
  width: 100%;
  
}
.lashfil{
  text-align: center;
}
/* <!------------------------------------------------navbar with image  --> */
.mid-navbar{
  background-color: gainsboro;
  padding-top: 50px;
  padding-bottom: 50px;
}
.ulbar {
  list-style-type: none;
  margin-left: 218px;
  padding: 0;
  overflow: hidden;
  display: flex;
  margin-right: 40px;
  border-bottom: 2px solid #ff69b4;
}
.active{
  background-color: #ff69b4;
  border-radius: 4px;
  border-left: 2px solid rgb(145, 13, 127); 
  border-right: 2px solid rgb(145, 13, 127); 
  border-top: 2px solid rgb(145, 13, 127); 
}
.ulitem {
  display: flex;
}
.ulitem a {
  color:rgb(145, 13, 127);
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}
.ulitem a:hover {
  background-color: #ff69b4;
  border-radius: 4px;
  border-left: 2px solid rgb(145, 13, 127); 
  border-right: 2px solid rgb(145, 13, 127); 
  border-top: 2px solid rgb(145, 13, 127); 
}
/* grid image 1  */
.grid-imge{
  width: 100%;
  height: 400px;
  position: relative;
}
.grid-imge img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
/*----------------- second */
.grid-imge2{
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.grid-imge2 img{
  width: 100%;
}
/*----------------- third  */
.grid-imge3{
width: 100%;
height: 530px;
}
.grid-imge3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.industry h5{
text-align: center;
font-weight: 600;
color:rgb(145, 13, 127); 
margin-top: 20px;
}
.industry p{
  text-align: center;
  margin-top: 20px;
  }
  /* fourth  */
  
    .grid-imge4{
      width: 100%;
      position: relative;
    
  }
  .grid-imge4 img{
    width: 100%;
  }
  /* fifth  */
.grid-imge5{
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 20px;
}
.grid-imge5 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}



.downimag-text{
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
  text-align: center;

  background: rgba(145, 13, 127,.8);
  padding: 15px;
  border-radius: 0px 0px 9px 9px;
}
.downimag-text2{
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
  text-align: center;
  background: rgba(145, 13, 127,.8);
  padding: 15px;
  border-radius: 0px 0px 9px 9px;
}
/*--------------------------lastslickslider  */
.imag-potion{
  position: relative;
 
}
.date h5{
position: absolute;
top: -3px;
left: 79%;
transform: translate(-50%,50%);
background-color:gainsboro ;
color:rgb(145, 13, 127);
border-left:2px solid #ff69b4;
border-bottom:2px solid #ff69b4;
border-radius: 4px;
}
.last-icon{
  position: absolute;
  top: 66%;
  left: 27%;
transform: translate(-50%,50%);

border-radius: 5px;
}
.lastimage1{
  width: 100%;
  padding: 10px;
  
 
}
.icon-bordr{
  background-color: white;
}
.lastimage1 img{
  width: 100%;
}
.last-pera p{
  text-align: center;
  padding: 2px;
}
