/* header start */
.header {
  width: 100%;
}
.header .header-top {
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 12px;
  background: #f0f0ff;
}
.header-top .htop-contact {
  color: #800080;
  text-transform: capitalize;
}
.header-top .htop-contact .mob-num {
  display: flex;
  align-items: center;
  gap: 5px;
}
.htop-contact .mob-num .vec-image {
  width: 18px;
}
.htop-contact .mob-num .vec-image img {
  width: 100%;
  object-fit: contain;
}
.header-top .htop-contact .vl {
  display: block;
  border-left: 1px solid #ff69b4;
  height: 15px;
}
.header-top .htop-lang select {
  width: 100%;
  color: #800080;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 10px;
}
.htop-lang select.slctlang {
  background-size: 16px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='%23ff69b4'><polygon points='0,0 10,0 5,5'/></svg>")
    no-repeat;
  background-position: calc(100% - 10px) 10px;
  background-repeat: no-repeat;
}
.header .header-main {
  padding: 5px 0;
}
.header-main .hmain-logo {
  width: 150px;
  height: 100%;
}
.header-main .hmain-logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
