@keyframes aboutpop {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.fc-v {
  color: #800080;
}

/* header start */
.header {
  width: 100%;
}
.header .header-top {
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 12px;
  background: #f0f0ff;
}
.header-top .htop-contact {
  color: #800080;
  text-transform: capitalize;
}
.header-top .htop-contact .mob-num {
  display: flex;
  align-items: center;
  gap: 5px;
}
.htop-contact .mob-num .vec-image {
  width: 20px;
}
.htop-contact .mob-num .vec-image img {
  width: 100%;
  object-fit: contain;
}
.header-top .htop-contact .vl {
  display: block;
  border-left: 1px solid #ff69b4;
  height: 15px;
}
.header-top .htop-lang select {
  width: 100%;
  color: #800080;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 10px;
}
.htop-lang select.slctlang {
  background-size: 16px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='%23ff69b4'><polygon points='0,0 10,0 5,5'/></svg>")
    no-repeat;
  background-position: calc(100% - 10px) 10px;
  background-repeat: no-repeat;
}
.header .header-main {
  padding: 5px 0;
}
.header-main .hmain-logo {
  width: 100px;
  height: 100%;
  margin: 0 20px;
}
.header-main .hmain-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-main .hmain-search .s-wrap {
  border: 1px solid #ff69b4;
  border-radius: 5px;
}
.header-main .hmain-search .s-wrap .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}
.hmain-search .s-wrap .search input {
  width: 35vw;
  border: none;
  margin: 6px;
}
.s-wrap .search .searchButton {
  background: none;
  border: none;
  margin: 6px;
}
.s-wrap .search .searchButton i {
  font-size: 20px;
  color: #ff69b4;
}
.header-main .hmain-cart {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}
.header-main .hmain-cart .showprofile,
.header-main .hmain-cart .showcart {
  margin-right: 10px;
}
.showprofile .vectimg-holdr,
.showcart .vectimg-holdr {
  width: 30px;
  height: 100%;
}
.vectimg-holdr img {
  width: 100%;
  object-fit: contain;
}
.header .header-nav {
  background-color: #800080;
  padding: 6px;
  border-radius: 5px 5px 0px 0px;
}
.header .header-nav .navbar {
  padding: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
  color: #ffffffc9;

  font-weight: 600;
}
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}
.navbar-nav .nav-item {
  margin-left: 20px;
}

.header-nav .navbar-toggler {
  margin-left: auto;
  border: none;
}
.header-nav .navbar-expand-md .navbar-toggler .icon-bar {
  background: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}

/* ANIMATED X */
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
/* END ANIMATED X */
.footer {
  padding: 50px 0;
  background: #800080;
  color: #fff;
}
.footer a {
  color: white;
}
.footer a {
  color: #fff;
}
.footer .ftr-navigation,
.ftr-address {
  height: 150px;
  border-right: 1px solid #fff;
}
.footer .ftr-navigation ul {
  padding: 0;
}

.footer .ftr-navigation ul li {
  list-style: none;
  padding-bottom: 5px;
  font-size: 16px;
}
.footer .innerheading {
  padding-bottom: 15px;
}
.footer .innerheading a h6 {
  font-size: 20px;
  font-weight: 600;
}
.footer .addrBox .ftr-address .telnum p {
  font-weight: 700;
  font-size: 18px;
}
.footer .addrBox .ftr-address .telnum p span {
  font-weight: 400;
  font-size: 16px;
}
/* footer----------------------end */

/* about-page----------------start */
.pinkclrlgt {
  width: 100%;
  background: #ffc0cb;
}
.aboutus {
  display: block;
}
.aboutus .herobnr-images {
  width: 25%;
}
.aboutus .herobnr-images .image-box {
  position: relative;
}
.image-box .text-circle {
  display: flex;
  width: 180px;
  height: 180px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0ff;
  background: #800080;
  border-radius: 50%;
  position: absolute;
  right: -60px;
  top: 15%;
  transform: scale(0.9);
  animation-name: aboutpop;
  animation-duration: 2000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.text-circle .text-box {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
}

.image-box .bdrbtn-imgwrap {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  overflow: hidden;
  border-left: 5px #ffc0cb solid;
  border-right: 5px #ffc0cb solid;
  border-bottom: 5px #ffc0cb solid;
  padding-top: 220px;
}
.image-box .bdrbtn-imgwrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.aboutus .herobanner-text {
  width: 75%;
}
.herobanner-text .text-box {
  padding: 60px 150px;
  display: block;
  color: #800080;
  border-bottom-right-radius: 6px;
}
.herobanner-text .text-box .subheading {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.herobanner-text .text-box .heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.herobanner-text .text-box p {
  font-size: 18px;
  font-weight: 500;
}
.descr-blog {
  margin: 75px 30px;
}
.descr-blog .image-box {
  position: relative;
  z-index: 50;
}
.descr-blog .image-box .image-rounded {
  width: 400px;
  height: 400px;
  box-shadow: -3px 01px 4px 0px rgba(23, 23, 23, 0.75);
  -webkit-box-shadow: -3px 01px 4px 0px rgba(23, 23, 23, 0.75);
  -moz-box-shadow: -3px 01px 6px 4px rgba(23, 23, 23, 0.75);
  border: 5px solid #ffc0cb;
  border-radius: 50%;
  overflow: hidden;
  position: inherit;
  z-index: 50;
}
.image-box .image-rounded img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-box .bgrounded-absract {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: block;
  background-color: #ffc0cb;
  position: absolute;
  top: -60px;
  right: -20px;
  z-index: 10;
}
.divider-line-hor {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 2px;
  background: #ffc0cb;
  opacity: 0.6;
}
.blog-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-text h4 {
  line-height: 2.4rem;
  font-weight: 700;
  color: #800080;
}
.blog-text p {
  color: #010101;
  line-height: 1.8rem;
  font-size: 18px;
}

.team {
  margin: 75px auto;
}
.team-image .rounded-image {
  width: 250px;
  height: 250px;
  border: 5px solid #ffc0cb;
  border-radius: 50%;
  overflow: hidden;
  position: inherit;
  z-index: 50;
}

.team-image .image-box .bgrounded-absract {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  display: block;
  background-color: #ffc0cb;
  position: absolute;
  top: -60px;
  left: 0px;
  z-index: 10;
}
.team-detail .text-box {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.team-detail .text-box span {
  font-weight: 700;
}
.service {
  margin: 25px 0;
}
.service .ser-box {
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0f0ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ser-box p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.ser-box .box-btn .btn {
  background: #800080;
  color: white;
}
/* about-page----------------------end */
@media (max-width: 767px) {
}
