.top-selector {

    gap: 15px;
    width: 100%;
    background-color: lightgray;
    padding: 10px;

}

.top-selector a {
    color: #FF69B4;
    font-size: 14px;
    font-weight: 600;
}

.top-selector p {
    color: #800080;
    font-size: 14px;
    font-weight: 600;
}

.top-selector i {
    color: #800080;
}


.b-nav {

    display: block;
    width: 100%;
}

/*----------------------- course section  */
.frame-border{
    border: 1px solid #FF69B4;
    padding: 10px;
    margin-top: 10px;
}
.cate-txt{
    padding: 10px;
    border-bottom:1px solid #FF69B4;
}
.cate-txt h6{
    font-weight: 700;
    color:#800080;
   
}
.vdo-time:hover{
background-color:gainsboro;
}
.vdo-time{
    padding: 3px;
    cursor: pointer;
}
.vdo-icn p{
    font-size: 14px;
}
.vdicn i{
    color:#800080;
}
.utub-icn p{
    font-size: 14px;
}
.crcle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #FF69B4;
}
/* ------------------cource four image  */
.frame-border2{
    border: 1px solid #FF69B4;
    padding: 10px;
    margin-top: 10px;
}
.things{
    margin-top: 50px;
}

.frst-imag{
    position: relative;
width: 100%;
margin-top: 10px;
height: 200px;
}
.frst-imag img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.frstimg-txt{
position: absolute;
top: 93%;
left: 50%;
transform: translate(-50%,-50%);
  width: 100%;
  padding: 6px;
  text-align: center;
  border-radius: 0px 0px 9px 9px;
  background: rgba(230, 230, 250, .6);
}
.frstimg-txt h6{
    color: #800080;
    font-weight: 600;
}
/* --------------------add banner  */
.adimag{
    width: 100%;
    position: relative;
    margin-top: 10px;
    height: 320px;
}
.adimag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txtim{
    position: absolute;
    top: 34%;
    left: 32%;
    transform: translate(-50%,-50%);
    color: white;
    width: 51%;
    font-size: 24px;
}
.butn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);  
}
.buttonone{
    padding: 9px 18px;
  border-radius: 14px;
  background-color: #800080;
  color:white;
  font-weight: 900;
  border: none;
  font-size: 14px;
} 
.maktxt h5{
    color: #800080;
    font-weight: 700;
}
.pgrap p{
    line-height: 30px;
    margin-top: 20px;
}
.perline{
    line-height: 27px;
}
/* slick slider  */

.vdoo h6{
    font-weight: 800;
    color: rgb(145, 13, 127);
}
.shoow-button{
    background-color: rgb(145, 13, 127);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    line-height: 20px;
  }
  .linee {
    height: 2px;
    width: 50%;
    background-color: #ff69b4;
  }

  .hand-nailss {
    width: 100%;
    padding: 10px;
  }
  
  .hand-nailss img {
    width: 100%;
  
  }
  .lashfiil{
    text-align: center;
  }
